<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/category">Category</a></li>
  <li><a href="{{ root_url }}/blog/category/objective-c/">┣━ Objective-C</a></li>
  <li><a href="{{ root_url }}/blog/category/swift/">┣━ Swift</a></li>
  <li><a href="{{ root_url }}/blog/category/mac/">┣━ Mac</a></li>
  <li><a href="{{ root_url }}/blog/category/ios/">┣━ iOS</a></li>
  <li><a href="{{ root_url }}/blog/category/git/">┣━ Git</a></li>
  <li><a href="{{ root_url }}/blog/category/android/">┣━ Android</a></li>
  <li><a href="{{ root_url }}/blog/category/cocos/">┣━ Cocos</a></li>
  <li><a href="{{ root_url }}/blog/category/linux-unix/">┣━ Linux/Unix</a></li>
  <li><a href="{{ root_url }}/blog/category/oracle/">┣━ Oracle</a></li>
  <li><a href="{{ root_url }}/blog/category/octopress/">┣━ Octopress</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="{{ root_url }}/about">About Tour</a></li>
</ul>
